@charset "UTF-8";
.custom-file-label {
  padding: 0.45rem 0.75rem;
  color: #AAA !important;
}
.custom-file-label:after {
  padding: 0.45rem 0.75rem;
  content: "選擇檔案";
}

.keywords {
  min-height: 130px;
  width: 100%;
}

.keywords-border {
  border: 2px solid #17a2b8;
}

.ck-editor__editable_inline {
  min-height: 200px;
  max-height: 200px;
}

.specification-sub-title {
  height: 31px;
}

select.form-control-sm ~ .select2-container--default .select2-selection--single .select2-selection__arrow {
  top: 50%;
  transform: translate(0, -50%);
}

.select2-results__option {
  font-size: 14px;
}
