textarea {
    resize: none;

    &::placeholder {
        font-size: 14px;
    }

    &::-webkit-input-placeholder {
        font-size: 14px;
    }

    &::-moz-placeholder {
        font-size: 14px;
    }

    &::-ms-placeholder {
        font-size: 14px;
    }
}

.news-keywords {
  min-height: 130px;
  width: 100%;
}

.news-keywords-border {
    border: 2px solid #17a2b8;
}

#detail {
    #custom-tabs-four-tab {
        a {
            color: rgb(73, 80, 87) !important;
        }
    }

    #custom-tabs-four-tabContent {
        img {
            width: 100%;
        }
    }
}

#specification {
    img {
        width: 100%;
    }

    .order_products_list {
        max-height: 50vh;
        overflow-y: auto;
    }
}

th {
    &.width-10 {
        width: 10%;
    }

    &.width-20 {
        width: 20%;
    }

    &.width-30 {
        width: 30%;
    }
}
