.custom-file-label {
  padding: .450rem .75rem;
  color: #AAA !important;

  &:after {
    padding: .450rem .75rem;
    content: '選擇檔案'
  }
}

.keywords {
  min-height: 130px;
  width: 100%;
}

.keywords-border {
  border: 2px solid #17a2b8;
}

.ck-editor__editable_inline {
    min-height: 200px;
    max-height: 200px;
}